* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
body {
  background-color: #eee !important;
}
#page {
  margin: 0 auto;
  width: 50% !important;
  margin-top: 20px;
}
input {
  padding-left: 20px;
}
button {
  border-radius: 0 !important;
  text-transform: uppercase !important;
  width: 30%;
  margin-left: 15px;
}
.item {
  background-color: white;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
i {
    color: white;
}
