<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <title>Todo List</title>
  </head>
  <body>
    <h1 class="text-center my-5">Todo List</h1>
    <div id="page" class="container d-flex align-items-center flex-column">
      <form class="d-flex justify-content-center w-100">
        <input spellcheck="true" v-model="msg" type="text" maxlength="25" />
        <button
          :disabled=" msg.trim().length && !items.includes(msg.trim().toLowerCase()) ? false : true "
          class="btn btn-primary text-nowrap add-item"
          @click.prevent="addItem"
        >
          add item
        </button>
        <button
          :disabled=" items.length >= 2 ? false : true "
          class="btn btn-danger text-nowrap clear-all"
          @click.prevent="deleteAll"
        >
          delete all
        </button>
      </form>
        <div
          class="item text-truncate d-flex align-items-center justify-content-between"
          v-for="(item, index) in items"
        >
          <div id="text">{{ item }}</div>
          <button class="btn btn-danger delete" @click="deleteItem(index)">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
